body {
  background: linear-gradient(to bottom, #9afcff, #143e44);
  background-image: url(card_images/treeBackground.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* #iconTopPage {
  width: 50px;
  height: 50px;
}  */







.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  
  height: 9vh;
  width: 99.3%;
  position: relative;
  background-color: #770e008e;
  border: 5px solid rgb(29, 0, 0);
  border-radius: 15px 15px 15px 15px;
}

.header-icon-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
}

.header-container button {
  margin: 10px;
  height: 50px;
  width: 120px;
  border-radius: 20%;
  border-style:groove;
  border-color: #9afcff;
  color: white;
  background: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  position: relative; /* Required for the bobbing effect */
  overflow: hidden;
  transition: transform 0.6s ease;
}

.header-icon-title button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  /* transform: scale(1.2); */
}

#displayScrollWrapperRandomId:hover {
  background-color: rgba(252, 4, 4, 0.7);
}

#displayNotesId:hover {
  background-color: rgba(4, 8, 252, 0.7);
}

#addCardNavButton:hover {
  background-color: rgb(255, 238, 0);
  animation: growAnimation 1.5s infinite; /* Animation to repeat every 3 seconds */
  color: black;
}


/* Keyframes for the shine animation */
@keyframes bobAnimation {
  0%, 100% { transform: translateY(0); height: 60px;}
  50% { transform: translateY(-8px); height: 50px;}
}

@keyframes growAnimation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}














.icon-and-title {
  display: flex;
}

.nav-button-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px;
  min-width: 600px;
}

.user-id-container {
  margin-right: 50px;
}







#searchIconId {
  margin-top: 15px;
  width: 60%;
  height: 60%;
}

.search-bar-container {
  position: relative;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.toggle-search-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  transition: left 0.5s;
}

.search-forms-container {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: left 0.5s;
  background-color: rgba(157, 0, 255, 0.2);
}

.search-input-container  {
  display: flex;
  flex-direction: column;
}

.search-input-container input {
  margin: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  border-radius: 10%;
  background-color: rgba(0, 238, 255, 0.692);
}


#searchCardsButton {
  margin: 50px;
}

#searchCardsButton:hover {
  color: white;
  background-color: rgba(120, 4, 252, 0.979);
}















.lower-content-container {
    width: 90%; /* Adjust the width as per your preference */
    margin: 0 auto;
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
  
  /* SCROLLING IMAGES ON THE FRONT PAGE*/
  .scroll-wrapper {
     /* Align images to the start of the container */
     display: flex; /* Use flexbox to align and center images */
     flex-wrap: wrap; /* Wrap images to new lines if needed */
     justify-content: center; /* Align images to the start of the container */
     align-items: flex-start; /* Align images to the start of the container */
     width: 100%;
     height: 100%;
     overflow: visible;
     background-color: #0c7ca86c;
     border: 10px solid rgb(0, 7, 88);
     border-radius: 20px 20px 20px 20px;
  }
  
  .scroll-wrapper img {
    width: 250px;
    height: 350px; /* Adjust the height as per your preference */
    position: relative;
    margin: 15px; /* Add spacing between images */
    transition: transform 0.2s ease-in-out;
  }

  .scroll-wrapper img:hover {
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}
  
 
  


/* Notes page styles */

.add-note-button-container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 20px;
}

#addNoteButtonId {
  color:white;
  height: 25px;
  background-color: rgba(255, 174, 0, 0.904);
}

#addNoteButtonId:hover {
  background-color: rgba(255, 198, 75, 0.904);
  
}

.left-right-note-container {
  display: flex;
  flex-direction: row;
}

.left-note-page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-note-page-container button {
  margin: 10px;
  width: fit-content;
  color:white;
  height: 40px;
  font-size: larger;
  background-color: rgba(255, 174, 0, 0.904);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left-note-page-container button:hover {
  background-color: rgba(255, 198, 75, 0.904);
}


.right-note-page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: antiquewhite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right-note-page-container input {
  width: 80%;
  margin: 10px;
}

.right-note-page-container textarea {
  width: 60%;
  height: 200px;
  margin: 10px;
}

.right-note-page-container button {
  width: 10%;
  margin: 10px;
}

.right-note-page-container p {
  
  line-height: 1.5;
  width: 50%;
  font-size: larger;
}



  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    z-index: 9999; /* Make sure the overlay appears above other content */
  }
  
  .overlay-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .left-column {
    flex: 1;
  }

  .left-column input {
    width: 50%;
  }

  .left-column button {
    width: 20%;
    height: 5%
  }

  .right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }







  .content-container {
    background-color: #99df87; /* Set the desired background color for the content container */
    padding: 20px;
    border-radius: 8px;
    border: 10px solid rgb(43, 119, 62);
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 1200px;
    position:relative;
  }





  .dropdown-container { /* Includes the headers and the dropdown itself*/
    font-size: larger;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
  }

  .add-dropdown-select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: larger;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50%;
  }



  .overlay-close {
    margin-top: 20px; /* Add spacing between sections and the close button */
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  /* View Card styles here */
  .view-card-inner-left-column {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .new-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  #newImagePreview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  

  .overlay-option {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0c7ca8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .overlay-option p {
    /* Custom styles for the paragraph element */
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    color: #f51111;
    background-color: #333333;
  }



/* ADD A CARD OVERLAY OPTIONS */

.add-card-inner-left-column {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

  #addCardOverlay h2 {
    margin-bottom: 10px;
  }
  
  #addCardOverlay label {
    display: block;
    margin-bottom: 10px;
  }
  
  #addCardOverlay input,
  #addCardOverlay button {
    display: block;
    margin-bottom: 20px;
  }
  
  #addCardOverlay #closeOverlayButton {
    margin-top: 10px;
  }

  #addPowerInputId, #addRedCostInputId, #addBlueCostInputId, #addBlackCostInputId, #eggInputNumberId, #nestInputNumberId, #airInputNumberId, #groundInputNumberId {
    width: 40px;
    height: 40px;
  }


  .add-card-first-row, .add-card-second-row, .add-card-third-row, .add-card-fourth-row, .add-card-fifth-row, .add-card-sixth-row, .add-card-seventh-row, .add-card-eighth-row {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .add-card-first-row {
    justify-content: space-between;
  }

  .add-card-first-row input {
    width: 100%;
  }

  .add-card-first-row select {
    width: 50px;
    height: 46px;
  }

  .power-faction-container {
    display: flex;
  }

  .name-container {
    display: flex;
    justify-content: flex-end;
  }

  /* .add-card-second-row {
    
  } */


  .color-cost-input-container, .song-requirement-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .add-card-third-row {
    margin: 100px;
  }

  .add-card-third-row input {
      color: transparent;
  }

  

  /* .add-card-fourth-row {

  } */


  .subtype-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .subtype-container input {
    height: 100%;
    text-align: center;
    width: 50%;
  }


  /* .add-card-fifth-row {

  } */

  .add-card-fifth-row textarea {
    width: 100%;
  }

  .add-card-sixth-row input {
    width: 100%;
  }

  .add-card-seventh-row  {
    justify-content: space-between;
  }

  /*Add a note from the Add a Card overlay*/
  .add-card-add-note-container{
    margin-left: 50px;
  }

  .add-card-save-image-container{
    margin-right: 50px;
  }

  .add-card-seventh-row {
    margin-top: 50px;
  }

  /*Create note, Save image buttons*/
  .add-card-seventh-row button {
    height: 50px;
    width: 120px;
    margin-right: 20px;
    margin-left: 20px;
  }

  /*Submit button */
  .add-card-eighth-row button {
    height: 50px;
  }









  .add-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
  }
  

  #addImagePreview {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 348px;
    /* object-fit:contain; */
  }

  #addImageBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
  }


  .text-box-card-name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgb(0, 0, 0);
  }
  
  .text-box-card-name h2 {
    font-size: 32px;
    /* background-color: #0c7ca8; */
  }

  .text-box-card-rules {
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    color: rgb(0, 0, 0);
  }
  
  .text-box-card-rules-song {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    color: rgb(0, 0, 0);
  }

  .text-box-card-rules-song p {
    font-size: 24px;
    text-align: center;
  }

  .text-box-card-rules p {
    font-size: 24px;
    text-align: center;
  }


  .text-box-card-type {
    position: absolute;
    top: 55.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgb(0, 0, 0);
  }

  .text-box-card-type p {
    font-size: 22px;
  }


  /* SONG requirement styles */
  .text-box-card-req {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgb(0, 0, 0);
  }

 



  /* BIRD requirement STYLES */
  .text-box-card-power {
    position: absolute;
    top: 2%;
    left: 12%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgb(255, 255, 255);
    z-index: 9999;
  }

  .text-box-card-power h2 {
    font-size: 72px;
    /* background-color: #11f51c; */
  }


  .pips-container {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 20%;
    /* Align images to the start of the container */
    display: flex; /* Use flexbox to align and center images */
    flex-wrap: wrap; /* Wrap images to new lines if needed */
    justify-content: right; /* Align images to the start of the container */
    align-items: center; /* Align images to the start of the container */
    height: 5%;
    overflow: visible;
  }

/* Styles for Bird faction color view */

.faction-img-container {
  position: absolute;
    left: 3%;
    top: 3.9%;
    width: 20%;
    /* Align images to the start of the container */
    display: flex; /* Use flexbox to align and center images */
    flex-wrap: wrap; /* Wrap images to new lines if needed */
    justify-content: right; /* Align images to the start of the container */
    align-items: center; /* Align images to the start of the container */
    height: 4%;
    overflow: visible;
}

.img-box-card-faction {
  position: relative;
  /* transform: translateX(-50%); */
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(50, 5, 248);
  z-index: 999;
}

.img-box-card-faction img {
  width: 115px;
  height: 115px;
  margin: 2px;
}



/* Styles for Bird Cost and color views */
  .img-box-card-red {
    position: relative;
    /* transform: translateX(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgb(248, 5, 5);
    z-index: 999;
  }

.img-box-card-red img {
    width: 18px;
    height: 18px;
    margin: 2px;
}

  .img-box-card-blue {
    position: relative;
    /* transform: translateX(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgb(50, 5, 248);
    z-index: 999;
  }

  .img-box-card-blue img {
    width: 18px;
    height: 18px;
    margin: 2px;
}

  .img-box-card-black {
    position: relative;
    /* transform: translateX(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgb(0, 0, 0);
    z-index: 999;
  }

  .img-box-card-black img {
    width: 18px;
    height: 18px;
    margin: 2px;
}








/*Hides the card inputs in the add overlay screen*/
  .hidden {
    display: none;
}











/* Confirmation message when you press the submit button */
.confirmation-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Example background color */
  z-index: 9999; /* Set a high z-index to make sure it appears on top */
  display: none; /* Hide the overlay by default */
}

.confirmation-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%; /* Adjust as needed */
  max-height: 80%; /* Adjust as needed */
  background-color: white; /* Example background color */
  padding: 20px; /* Example padding */
}

#confirmationMessage {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}


























/* HAMBURGER MENU ON THE LEFT SIDE OF SCREEN  */

  .hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px; /* Set the desired width of the menu */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 9998; /* Make sure the menu appears above other content */
  }
  
  .hamburger-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px; /* Set the desired width of the button */
    height: 40px; /* Set the desired height of the button */
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999; /* Make sure the button appears above the menu */
  }
  
  .hamburger-line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
  }

  .menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px; /* Adjust the desired padding for menu items */
    color: white; /* Set the desired text color */
  }
  
  .menu-content button {
    height: 40px;
    width: 200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .hamburger-menu.open {
    transform: translateX(0%);
  }
  
  .show-hamburger-button {
    border: none;
    background: none;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 50px;
    height: 50px;
    z-index: 9999; /* Make sure the button appears above other content */
  }
  
  .show-hamburger-button img {
    width: 50px;
    height: 50px;
  }
  








  





.queueOverlay {
  position: fixed;
  bottom: 20px; /* Adjust the bottom position as needed */
  right: 20px; /* Adjust the right position as needed */
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-color: rgba(245, 10, 10, 0.8); /* Adjust the background color and alpha channel as needed */
  border-radius: 50%;
  z-index: 9999;
}

.queue-hamburger-button {
  position: relative;
  width: 30px; /* Adjust the button size as needed */
  height: 30px; /* Adjust the button size as needed */
  margin: 10px; /* Adjust the button position within the overlay as needed */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hamburger-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff; /* Adjust the line color as needed */
  margin: 5px 0;
  transition: background-color 0.3s ease-in-out;
}

.queue-overlay-content {
  display: none;
  /* Your content styles */
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 100%; /* Position the content above the overlay */
  right: 0;
  width: 300px; /* Adjust the width of the content as needed */
  height: 300px; /* Adjust the height of the content as needed */
  transition: bottom 0.3s ease-in-out;
}

.queue-overlay-content img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Scale the image while maintaining aspect ratio */
}

.queueOverlay.hide-overlay .queue-overlay-content {
  display: block;
}




.account-page-container {
  color: white;
  background-color: #5900ffa6;
  border: 2px solid rgb(26, 0, 44);
  border-radius: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-page-container input {
  width: 50%;
}

.account-page-container input,
.account-page-container button {
  margin: 20px;
}


/* Deck builder views */

.search-bar-container button {
  margin: 10px;
  height: 50px;
  width: 120px;
  border-radius: 20%;
  border-style:groove;
  border-color: #9afcff;
  color: white;
  background: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  position: relative; /* Required for the bobbing effect */
  overflow: hidden;
  transition: transform 0.6s ease;
}

.search-bar-container button:hover {
  background-color: rgba(17, 0, 255, 0.7);
  color: white;
  /* transform: scale(1.2); */
}



.deck-name-create-container input, .deck-name-create-container button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  margin: 20px;
}



/* Print Page views */

.print-sheet-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}





















/*     BATTLEGROUND CSS STYLES          */
.battleground-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: firebrick;
  position: relative;
  overflow: visible;
}

.card {
  width: 110px;
  height: 150px;
  border: 1px solid #333;
  position: absolute;
}
.playing-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire card */
}
#playingField {
  width: 80%;
  height: 100%;
  background-color: #d3d3d3;
  border: 2px solid #000;
  position: relative;
}

#deckImageId {
  right: 0;
  bottom: 0;
  width: 110px;
  height: 150px;
  border: 1px solid #333;
  position: absolute;
  z-index: 99;
  pointer-events: none;
}









.create-join-game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
  z-index: 9997; /* Make sure the overlay appears above other content */
  
}

.create-join-button-existing-dropdown-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.create-game-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 100px;
}

.create-game-button-container button {
  margin: 20px;
  height: 50px;
  width: 200px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  font-weight: bolder;
}

